@model InventoryManager.Models.Backpack.TitleView

@{
    ViewBag.Title = "CharacterBackpack";
}

<h2>@Html.DisplayFor(modelItem => Model.CharacterName)'s Backpack</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Backpack")
</p>
<table class="table">
    <tr>
        <th>
            Item Name
        </th>
        <th>
           Item Type
        </th>
        <th>
            Item Description
        </th>
        <th>
           Item Value
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BackpackItemList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemValue)
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CharacterID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })
            </td>
        </tr>
    }

</table>
