@model InventoryManager.Models.Backpack.TitleView

@{
    ViewBag.Title = "CharacterBackpack";
}

<h2>@Html.DisplayFor(modelItem => Model.CharacterName)'s Backpack</h2>

<span><a class="btn btn-default btn-profile " id="plusButton" href="@Url.Action("Create", "Backpack")"></a></span>

<div class="charContainer">
    @foreach (var item in Model.BackpackItemList)
    {
        <div class="profile">
            <div class="photo">
                <a href='@Url.Action("Details", "Character", new { id = item.ItemID })'><img src="~/Content/Assets/bag.svg" /></a>
            </div>
            <div class="content itemContent">
                <div class="itemText">
                    <a href='@Url.Action("Details", "Item", new { id = item.ItemID })'><h4>@Html.DisplayFor(modelItem => item.ItemName)</h4></a>
                    <h5>@Html.DisplayFor(modelItem => item.ItemDescription)</h5>
                </div>
                <div><span><a class="btn btn-default btn-profile " id="itemDelete" href="@Url.Action("Delete", "Backpack", new {id = item.BackpackID })"></a></span></div>
                <div class="itemCard"><span></span></div>
            </div>
        </div>
    }
</div>

@*<table class="table">
    <tr>
        <th>  
            Item Name
        </th>
        <th>
           Item Type
        </th>
        <th>
            Item Description
        </th>
        <th>
           Item Value
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BackpackItemList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemValue)
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID }) |
                @Html.ActionLink("Details", "Details",  "Item", new { id = item.ItemID }, null ) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })
            </td>
        </tr>
    }

</table>*@
