@model IEnumerable<InventoryManager.Models.CharacterModels.CharacterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Character List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
        @foreach (var item in Model)
        {
<div class="col-md-4 profile">
    <div>
            <span>@Html.DisplayFor(modelItem => item.CharacterName)</span>
            <div id="imgPlaceholder"></div>
            <span>
                @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CharacterID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })  |
                @Html.ActionLink("Backpack", "CharacterBackpack", new { id = item.CharacterID, characterName = item.CharacterName })
            </span>
    </div>
</div>
        }
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterRace)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterRace)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CharacterID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })  |
            @Html.ActionLink("Backpack", "CharacterBackpack", new { id = item.CharacterID, characterName = item.CharacterName })
        </td>
    </tr>
}
</table>