@model IEnumerable<InventoryManager.Models.CharacterModels.CharacterListItem>

@{
    ViewBag.Title = "Index";
}
<span><a class="btn btn-default btn-profile " id="plusButton" href="@Url.Action("Create", "Character")"></a></span>
<div class="charContainer">
    @foreach (var item in Model)
    {
        <div class="profile">
            <div class="photo">
                <img src="~/Content/Assets/knight.svg" href='@Url.Action("Details", "Character", new { id = item.CharacterID })'/>
            </div>
            <div class="content">
                <div class="text">
                    <a href='@Url.Action("Details", "Character", new { id = item.CharacterID })'><h4>@Html.DisplayFor(modelItem => item.CharacterName)</h4></a>
                    <h5>@Html.DisplayFor(modelItem => item.CharacterClass)</h5>
                </div>
                <div><span>
                    <a class="btn btn-default btn-profile" id="bagLink" href="@Url.Action("CharacterBackpack", "Character", new { id = item.CharacterID, characterName = item.CharacterName })"></a>
                    </span></div>
            </div>
        </div>
    }
</div>

<div>
    <div class="jumbotron charJumbotron">
        <div class="container-fluid ">
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
