@model IEnumerable<InventoryManager.Models.ItemModels.ItemListItem>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="charContainer">
    @foreach (var item in Model)
    {
        <div class="profile">
            <div class="photo">
                <a href='@Url.Action("Details", "Character", new { id = item.ItemID })'><img src="~/Content/Assets/bag.svg"  /></a>
            </div>
            <div class="content itemContent">
                <div class="itemText">
                    <a href='@Url.Action("Details", "Item", new { id = item.ItemID })'><h4>@Html.DisplayFor(modelItem => item.ItemName)</h4></a>
                    <h5>@Html.DisplayFor(modelItem => item.ItemDescription)</h5>
                </div>
               <div class="itemCard"><span ></span></div>
            </div>
        </div>
    }
</div>

<div class="panel" id="itemPanel">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ItemID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
                </td>
            </tr>
        }

    </table>
</div>
