@model IEnumerable<InventoryManager.Models.Backpack.BackpackItemList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BackpackID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BackpackID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.BackpackID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BackpackID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BackpackID })
        </td>
    </tr>
}

</table>
