@model IEnumerable<InventoryManager.Models.Backpack.CharacterBackpackList>

@{
    ViewBag.Title = "CharacterBackpack";
}

<h2>CharacterBackpack</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BackpackID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CharacterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BackpackID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CharacterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CharacterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CharacterID })
        </td>
    </tr>
}

</table>
