@model InventoryManager.Models.Backpack.CharacterBackpackList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CharacterBackpackList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Character Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterName)
        </dd>

        <dt>
           Item Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt>
           Type of Item
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType)
        </dd>
        <dt>
          Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>

        <dt>
            Item Value
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemValue)
            @Html.DisplayFor(model => model.Currency)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
