@model IEnumerable<InventoryManager.Models.Backpack.BackpackList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Character Name</th>
        <th>Item Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CharacterID , CharacterName = item.CharacterName}) |
            @Html.ActionLink("Details", "Details", new { id = item.CharacterID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CharacterID })
        </td>
    </tr>
}

</table>
