@model IEnumerable<InventoryManager.Models.Backpack.BackpackList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<span><a class="btn btn-default btn-profile " id="plusButton" href="@Url.Action("Create", "Backpack")"></a></span>
<table class="table">
    <tr>
        <th>Character Name</th>
        <th>Item Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { charId = item.CharacterID, itemId=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BackpackID })
        </td>
    </tr>
}

</table>
